#chart
{
    float:left;
    width: 75%;
}

#chart svg
{
    height: 500px;
}

#selection
{
    float: right;
    width: 23%
}

#selection select
{
    width: 100%;
}

#available, #selected
{
    border-bottom: 5%;
}


html, body
{
    height  : 100%;     /* make sure it is at least as tall as the viewport */
}

/**
 * Sets the background of the page to dark gray (#363636)
 * Also sets font properties
 */
body 
{
    margin: 0;
	background-color	 : #363636;
    font-size		     : 87.5%;	/* Base font size is 14px	#CF5C3F*/
	font-family		     : Arial, 'Lucida Sans Unicode';
	line-height		     : 1.5;
	text-align		     : left;
}

/**
 * All main content is 70% the width of the body and will always stretch to the bottom of the page
 */
#mainContent 
{
    background-color    : #FFFFFF;
    width               : 75%;
    min-height          : 100%;
    overflow            : auto;
    margin              : auto;
    padding             : 20px 50px 20px 50px;
}

/**
 * Makes sure the div stretches to fit the content.
 */
#title 
{
    display         : block;
    overflow        : auto;
    border-bottom   : medium solid #363636;
    margin-bottom   : 2%;
}

/**
 * Makes sure the main heading right aligned and changes its size/colour etc.
 */
h1 
{
    float       : left;
    width       : 60%;
    text-align  : left;
    font-weight : bold;
    font-size   : 32px;
    color       : #004F6B;
    margin-top  : 0;
}

h4
{
    margin-bottom  : 0.5%;
}

/**
 * Changes the properties of almost all form elements so that they have rounded edges and shadows
 */

input[type="text"],
input[type="date"],
input[type="datetime"],
input[type="email"],
input[type="number"],
input[type="search"],
input[type="time"],
input[type="url"],
input[type="password"],
input[type="file"],
textarea,
select 
{
    display                 : block;
    margin-bottom           : 1%;
/*    box-sizing              : border-box;
    -webkit-box-sizing      : border-box;
    -moz-box-sizing         : border-box;
    width                   : 100%;
    padding                 : 8px;
    border-radius           : 6px;
    -webkit-border-radius   : 6px;
    -moz-border-radius      : 6px;
    border                  : 2px solid #fff;
    box-shadow              : inset 0px 1px 1px rgba(0, 0, 0, 0.33);
    -moz-box-shadow         : inset 0px 1px 1px rgba(0, 0, 0, 0.33);
    -webkit-box-shadow      : inset 0px 1px 1px rgba(0, 0, 0, 0.33);
*/}

/**
 * Changes the appearance all buttons on the form to have rounded edges and shadows
 */
button,
input[type="button"],
input[type="reset"],
input[type="submit"]
{
    background              : #2A88AD;
    padding                 : 3px 15px 3px 15px;
    margin-bottom           : 1%;
    border-radius           : 5px;
    -webkit-border-radius   : 5px;
    -moz-border-radius      : 5px;
    color                   : #FFFFFF;
    text-shadow             : 1px 1px 3px rgba(0, 0, 0, 0.12);
    font                    : normal 30px 'Bitter', serif;
    -moz-box-shadow         : inset 0px 2px 2px 0px rgba(255, 255, 255, 0.17);
    -webkit-box-shadow      : inset 0px 2px 2px 0px rgba(255, 255, 255, 0.17);
    box-shadow              : inset 0px 2px 2px 0px rgba(255, 255, 255, 0.17);
    border                  : 1px solid #257C9E;
    font-size               : 15px;
}

/**
 * Changes the shadow and color of the buttons to be darker when hovering over them
 */
button:hover,
input[type="button"]:hover,
input[type="reset"]:hover,
input[type="submit"]:hover
{
    background          : #2A6881;
    -moz-box-shadow     : inset 0px 2px 2px 0px rgba(255, 255, 255, 0.28);
    -webkit-box-shadow  : inset 0px 2px 2px 0px rgba(255, 255, 255, 0.28);
    box-shadow          : inset 0px 2px 2px 0px rgba(255, 255, 255, 0.28);
}

span
{
    display : block;
}

#map
{
    height: 400px;
    width: 60%;
}