*
{
    box-sizing: border-box;
}

section
{
    color: black;
    text-align: center;
    font-family: sans-serif;
}

div
{
    /*height: 90%*/
}

/*article
{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    padding: 20px;
}*/

h1
{
    font-size: 50px;
    margin: 0 0 10px 0;
    color: blACK;
    padding: 20px;
}

.container
{
    display: table;
    max-width: 90%;
    min-width:50%;

}

.upload {
    background-color: white;
    position: absolute;
    left: 0px;
    width: 45%;
    margin:50px;
    margin-top: 5.5em;
    padding-left: 50px;
    padding-right:50px;
    padding-bottom: 50px;
    border: #e5e5e5 1px solid;
    border-radius: 10px;
}


.trim {
    background-color: white;
    position: absolute;
    right: 0px;
    width: 45%;
    margin:50px;
    margin-top: 5.5em;
    padding-left: 50px;
    padding-right:50px;
    padding-bottom: 50px;
    border: #e5e5e5 1px solid;
    border-radius: 10px;
}

.block-label
{
  display: block;
  text-align: center;
  line-height: 1.6em;
  font-size: 1.3em;
  padding-top: 0.3em;
}

.block-input
{
  font-size: 1em;
  display: block;
  width: 100%;
  padding: 0.3em;
  box-sizing: border-box;
}

.block-button
{
  display: block;
  width: 100%;
  text-align: center;
  font-size: 1em;
  border: 1px solid grey;
  margin-top: 0.6em;
  padding: 0.3em;
}
