/* Global */
html, body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}

body {
  background-color: #231F20; /* Matches current WESMO website background color. */
}

.block-label {
  display: block;
  text-align: center;
  line-height: 1.6em;
  font-size: 1.3em;
  padding-top: 0.3em;
}

.block-input {
  font-size: 1em;
  display: block;
  width: 100%;
  padding: 0.3em;
  box-sizing: border-box;
}

.block-button {
  display: block;
  width: 100%;
  text-align: center;
  font-size: 1em;
  border: 1px solid grey;
  margin-top: 0.6em;
  padding: 0.3em;
}

.block-select {
  display: block;
  width: 100%;
  text-align: center;
  font-size: 1em;
  border: 1px solid grey;
  padding: 0.3em;
}

.vertical-content{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

/* /login.html & /register.html */
.login, .register {
  background-color: #F9F9F9; /* Matches current WESMO website background color. */
  width: 20em;
  padding: 1em;
  border: #e5e5e5 1px solid;
  border-radius: 10px;
  font-family: sans-serif;
}

.login h1, .register h1 {
  text-align: center;
  font-size: 2.5em;
  margin: 0.1em 0em 0.1em 0em;
}

.login img, .register img {
  width: 100%;
}

#register-text {
  text-align: center;
  display: block;
  padding-top: 0.2em;
}

/* analyse.php data.php members.php */
.nav-bar {
    position: fixed;
    background-color: #F9F9F9; /* Matches current WESMO website background color. */
    border: #e5e5e5 1px solid;
    width: 100%;
    min-width: 50em;
    height: 4.5em;
}

.nav-div {
  box-sizing: border-box;
  width: 20%;
  height: 100%;
  float: left;
  text-align: center;
  padding: 0.5em;
  font-size: 2em;
  font-family: sans-serif;
  border-left: 1px solid #e5e5e5;
  border-right: 1px solid #e5e5e5;
  overflow: hidden;
}

.nav-div-right {
  float: right;
}

.nav-div:hover {
  background-color: #e4e4e4;
}

.nav-bar a {
  color: black;
}

.nav-div-img {
  padding: 0;
  display: flex;
  justify-content: center;
  align-content: center;
}

.nav-logo {
  display: block;
  height: 100%;
}

/* Other pages */
.content {
  padding-top: 5.5em;
  width: 100%;
  height: calc(100% - 4.5em);
}

.members-table {
  width: 90%;
  color: black;
  margin-left: auto;
  margin-right: auto;
}

.members-table > td {
  padding: 0.2em;
  border: 1px solid black;
}

.table-container {
  background-color: #F9F9F9; /* Matches current WESMO website background color. */
  width: 900px;
  padding: 1em;
  margin-left: auto;
  margin-right: auto;
  border: #e5e5e5 1px solid;
  border-radius: 10px;
  font-family: sans-serif;
}
